# Vim swap files
.*.swp

# Aclocal files
/autom4te.cache/
/aclocal.m4

# Autoconf files
/configure

# Automake files
/install-sh
/missing
Makefile.in

# Configure files
/config.log
/config.status
Makefile

# Python compilation
/**/__pycache__/

# Setuptools files
/src/python/build/
/src/python/cirdan.egg-info/
/src/python/dist/

# Files with expanded variables
/src/python/setup.py
/src/python/cirdan/__init__.py
